.start-panel {
    display: grid;
    grid-template-columns: 50px 170px 1fr;
}
.start-panel__icons {
    display: grid;
    grid-template-rows: 1fr;
}
.start-panel__grid {
    display: grid;
    grid-auto-rows: 150px;
    grid-template-areas: 
    "appsoffice appsother"
    "appsweb appsother"
    ;
}
.apps--office {
    display: grid;
    grid-area: appsoffice;
}
.apps--web {
    display: grid;
    grid-area: appsweb;
}
.apps--other {
    display: grid;
    grid-area: appsother;
}
.apps__grid {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-auto-rows: 50px;
}
.app--g2x2 {

}
.app--g2x1 {

}
.app--g1x2 {

}
.app--off-3 {

}
.app--off-4 {

}
.app--off-5 {

}
.app--in-3 {

}
.app--fun-2 {

}
.app--fun-3 {

}